/*PUT YOUR CUSTOM STYLE HERE*/

/*!This style is important, do not override!*/
* {
	margin: 0;
	padding: 0;
}

.hidden {
	opacity: 0;
}

h1,
.display-3 {
	font-family: 'Helvetica', sans-serif;
	font-weight: 700;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

h1::after {
	content: '';
	display: block;
	width: 50px;
	height: 4px;
	background-color: #800080;
	margin-top: 10px;
}

.btnFun {
	display: inline-block;
	padding: 12px 25px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #800080;
	color: #800080;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
	transition: all 0.3s ease;
	margin-bottom: 100px;
}

.btnFun:hover {
	background-color: #800080;
	color: white;
}
